@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Black");
    src: url("../font/Roboto-Black.ttf"),
         url("../font/Roboto-Black.eot") format('eot'),
         url("../font/Roboto-Black.woff") format('woff'),
         url("../font/Roboto-Black.woff2") format('woff2');
    font-weight: 900;
}
@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Medium");
    src: url("../font/Roboto-Medium.ttf"),
         url("../font/Roboto-Medium.eot") format('eot'),
         url("../font/Roboto-Medium.woff") format('woff'),
         url("../font/Roboto-Medium.woff2") format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Regular");
    src: url("../font/Roboto-Regular.ttf"),
         url("../font/Roboto-Regular.eot") format('eot'),
         url("../font/Roboto-Regular.woff") format('woff'),
         url("../font/Roboto-Regular.woff2") format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Bold");
    src: url("../font/Roboto-Bold.ttf"),
         url("../font/Roboto-Bold.eot") format('eot'),
         url("../font/Roboto-Bold.woff") format('woff'),
         url("../font/Roboto-Bold.woff2") format('woff2');
    font-weight: 700;
}