<section class="advantages">
    <div class="container">
        <div class="advantages__list">
            <div class="advantages__list__item">
                <div class="content">
                    <div class="content-image horse">
                        <img src="img/horse-icon.svg" alt="horse">
                    </div>
                    <div class="content-text">Оттачи выигрышную <br> стратегию на учебном счете</div>
                </div>
            </div>
            <div class="advantages__list__item">
                <div class="content">
                    <div class="content-image rocket">
                        <img src="img/rocket-icon.svg" alt="rocket">
                    </div>
                    <div class="content-text">Торгуй с минимумом вложений <br>
                        и получай до 95% прибыли</div>
                </div>
            </div>
            <div class="advantages__list__item">
                <div class="content">
                    <div class="content-image arrow">
                        <img src="img/arrow-icon.svg" alt="arrow">
                    </div>
                    <div class="content-text">Определяй куда пойдет цена актива: <br>
                        вверх или вниз</div>
                </div>
            </div>
            <div class="advantages__list__item">
                <div class="content">
                    <div class="content-image wallet">
                        <img src="img/wallet-icon.svg" alt="wallet">
                    </div>
                    <div class="content-text">Выводи прибыль без ограничений <br>
                        на карту или онлайн-кошелек </div>
                </div>
            </div>
        </div>
    </div>
</section>