<section class="apps">
    <div class="container">
        <div class="apps__bg">
            <img src="img/apps-background.png">
        </div>
        <div class="apps__content">
            <div class="apps__text">
                <div class="apps__header wow fadeInUp">Мобильные <br> приложения </div>
                <div class="apps__subheader wow fadeInUp">
                    Торговля на нескольких графиках, <br> 
                    технический анализ, история котировок и <br>
                    многое другое. Все, что вам нужно <br>
                    на платформе, доступно <br>
                    на любом устройстве по вашему выбору.
                </div>
            </div>
            <div class="apps__screen apps__screen_avsc wow fadeInUp">
                <img src="img/screen-avsc.png" alt="Экран активности">
            </div>
            <div class="apps__screen apps__screen_wait wow fadeInUp">
                <img src="img/screen-wait-time.png" alt="Экран со средним временем ожидания">
            </div>
        </div>
    </div>
</section>