<section class="assets">
        <div class="assets__wrapper">
            <div class="assets__header wow fadeInUp">Более 50 проверенных активов</div>
            <div class="assets__list">
                <div class="assets__item badoo wow fadeInUp">
                    <img src="img/assets-icon-badoo.svg" alt="Наш партнер Баду">
                </div>
                <div class="assets__item wow fadeInUp">
                    <img src="img/assets-icon-tesla.svg" alt="Наш партнер Тесла">
                </div>
                <div class="assets__item wow fadeInUp">
                    <img src="img/assets-icon-gilette.svg" alt="Наш партнер Джилетт">
                </div>
                <div class="assets__item wow fadeInUp">
                    <img src="img/assets-icon-cola.svg" alt="Наш партнер Кока-кола">
                </div>
                <div class="assets__item wow fadeInUp">
                    <img src="img/assets-icon-netflix.svg" alt="Наш партнер Нетфликс">
                </div>
                <div class="assets__item wow fadeInUp">
                    <img src="img/assets-icon-microsoft.svg" alt="Наш партнер Майкрософт">
                </div>
                <div class="assets__item wow fadeInUp">
                    <img src="img/assets-icon-disney.svg" alt="Наш партнер Дисней">
                </div>
                <div class="assets__item wow fadeInUp">
                    <img src="img/assets-icon-facebook.svg" alt="Наш партнер Фэйсбук">
                </div>
                <div class="assets__item wow fadeInUp">
                    <img src="img/assets-icon-google.svg" alt="Наш партнер Гугл">
                </div>
                <div class="assets__item wow fadeInUp">
                    <img src="img/assets-icon-toyota.svg" alt="Наш партнер Тойота">
                </div>
            </div>
        </div>
</section>