<section class="deposits">
    <div class="container">
        <div class="tab__addwr">
            <div class="tab__wrapper wow fadeInUp">
                <button class="tab-prev"></button>
                <div class="tab tab_active">Минимальный депозит 10$</div>
                <div class="tab">Персональный менеджер</div>
                <div class="tab">Бесплатное обучение</div>
                <div class="tab">Круглосуточная поддержка</div>
                <button class="tab-next"></button>
            </div>
        </div>
        <div class="tab__content">
            @@include("deposits-deco.html")

            <div class="tab__text">
                <div class="tab__header wow fadeInUp">Минимальный депозит 10$</div>
                <div class="tab__paragraph wow fadeInUp">
                    Реальный счет позволит вам зарабатывать реальные деньги. 
                    Для открытия реального счёта необходимо лишь зарегистрироваться 
                    и пополнить торговый счет. Минимальный депозит составляет всего 10 $. <br>
                    Это реальный шанс увеличить свой доход!
                </div>
            </div>
            <div class="tab__image wow fadeInUp">
                <img src="img/big-wallet.png" alt="Кошелёк" width="430">
            </div>
        </div>
    </div>
</section>
