<footer>
    <div class="footer__bg">
        <img src="img/footer-bg.png">
    </div>
    <div class="footer">
        <div class="footer__links">
            <ul class="footer__list">
                <a href="#"><li class="footer__list-header">Правовая информация</li></a>
                <a href="#"><li class="footer__list-item">Положения и условия</li></a>
                <a href="#"><li class="footer__list-item">Политика по борьбе с отмыванием денег</li></a>
                <a href="#"><li class="footer__list-item">Политика конфиденциальности</li></a>
                <a href="#"><li class="footer__list-item">Политика Проведения платежей</li></a>
            </ul>
            <ul class="footer__list">
                <a href="#"><li class="footer__list-header">Трейдерам</li></a>
                <a href="#"><li class="footer__list-item">Активы</li></a>
                <a href="#"><li class="footer__list-item">Архив котеровок</li></a>
                <a href="#"><li class="footer__list-item">Частые вопросы</li></a>
                <a href="#"><li class="footer__list-item">Обучение</li></a>
            </ul>
            <ul class="footer__list">
                <a href="#"><li class="footer__list-header">О компании</li></a>
                <a href="#"><li class="footer__list-item">Новости</li></a>
                <a href="#"><li class="footer__list-item">Контакты</li></a>
            </ul>
            <div class="footer__social">
                <div class="footer__stores">
                    <div class="footer__appbtn">
                        <a href="#"><img src="img/appstore-av-icon.svg" alt="Переход на страницу в Эппстор"></a>
                    </div>
                    <div class="footer__appbtn">
                        <a href="#"><img src="img/googleplay-av-icon.svg" alt="Переход на страницу в Гуглплей"></a>
                    </div>
                </div>
                <div class="footer__networks">
                    <a href="#">
                        <div class="footer__networkbtn">
                            <img src="img/facebook-logo.svg" alt="Страница на фэйсбук">
                        </div>
                    </a>
                    <a href="#">
                        <div class="footer__networkbtn">
                            <img src="img/vk_logo.svg" alt="страница во вконтакте">
                        </div>
                    </a>
                    <a href="#">
                        <div class="footer__networkbtn">
                            <img src="img/twitter-logo.svg" alt="страница в твиттер">
                        </div>
                    </a>
                    <a href="#">
                        <div class="footer__networkbtn">
                            <img src="img/google-plus-icon.svg" alt="страница в гугл плюс">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="watermark">
        <img src="img/watermark.svg" alt="Водяной знак разработчика - Solar Digital">
    </div>
</footer>