<section class="info">
    <div class="info__wrapper">
        <div class="info__header wow fadeInUp">Binotrade.com — бинарный опцион с личным помощником</div>
        <div class="info__text">
            <div class="info__paragraph wow fadeInUp">
                Binotrade - это торговая платформа, удобный инструмент, который предлагает не только возможность заработать с помощью торговли бинарными опционами, но и предоставляет профессиональный клиентский сервис. Сразу после регистрации на Binotrade.com, каждый клиент получает личного консультанта.
            </div>
            <div class="info__paragraph info__paragraph_smaller wow fadeInUp">
                Вам нужен совет по торговле активами или вы не можете подобрать подходящую торговую стратегию? Обратитесь к вашему личному консультанту, который поможет вам в решении вопроса. Вам не нужен статус VIP-клиента, чтобы пользоваться квалифицированным клиентским сервисом!
            </div>
        </div>
    </div>
</section>