<nav>
    <div class="menu">
        <div class="menu__wrapper">
            <div class="menu__logo">
                <img src="img/logo.svg" alt="наш логотип">
                <img src="img/icon-logo-text.svg" alt="наше название">
            </div>
            <div class="menu__divider"></div>
            <div class="lang-select">
                <a class="lang-select-item lang-select-item_ru" href="#">RU</a>
                <div class="lang-select-arrow">
                    <div class="rect"></div>
                </div>
                <a class="lang-select-item lang-select-item_en" href="#">EN</a>
            </div>
        </div>
        <div class="menu__wrapper">
            <div class="links">
                <a class="links-item" href="#">Трейдерам</a>
                <a class="links-item" href="#">О компании </a>
            </div>
            <div class="menu__divider menu__divider_big"></div>
            <div class="menu__reg">
                <button class="menu__reg-login">Войти</button>
                <button class="menu__reg-signup">Зарегистрироваться</button>
            </div>
        </div>
    </div>

    <div class="mobile">
        <div class="mobile__wrapper">
            <div class="mobile__hamburger">
                <div class="mobile__hamburger-stick"></div>
                <div class="mobile__hamburger-stick"></div>
                <div class="mobile__hamburger-stick"></div>
            </div>
            <div class="mobile__header">
                BINOTRADE
            </div>
        </div>
        <div class="mobile__menu">
            <ul class="mobile__list">
                <a href="#"><li class="mobile__list-item">Трейдерам</li></a>
                <a href="#"><li class="mobile__list-item">О компании</li></a>
                <a href="#"><li class="mobile__list-item">Войти</li></a>
                <a href="#"><li class="mobile__list-item">Зарегистрироваться</li></a>
            </ul>
        </div>
    </div>
</nav>
